* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: auto;
  min-height: 100vh;
}

.col-full {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 35vh;
}

#add,
button {
  padding: 7px 20px;
  box-shadow: 6px 7px 5px 0 rgba(0, 0, 0, 0.75);
}

button {
  padding: 3px 10px;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#add:hover {
  background-color: #95bcf1;
  cursor: pointer;
}

.hide {
  display: none;
}
