* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: auto;
  min-height: 100vh;
}

.col-full {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 35vh;
}

#add {
  padding: 7px 20px;
  box-shadow: 13px 11px 5px 0 rgba(0, 0, 0, 0.75);
}

#add:hover {
  background-color: #95bcf1;
  cursor: pointer;
}

.hide {
  display: none;
}
